.container {
    margin-top: 50px;
    font-size: 16px;
}

.text-field {
    display: block;
    font-size: 30px;
    animation-name: text-ease;
    animation-duration: 1s;
    color: rgb(49, 128, 13);
}

.light {
    margin-top: 30px;
}
.rounded {
    border: 1px solid black;
}
.gradient {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

@keyframes text-ease {
    10% {
        opacity: 0.1;
    }
    25% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.traffic-lighter {
    width: 100px;
    height: 244px;
    /* height: 400px; */
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 15px 15px;
}
.traffic-lighter__light {
    width: 100%;
    height: 100%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    padding: 0;
}

.traffic-lighter__light.traffic-lighter__light--red.active {
    background-color: red;
}
.traffic-lighter__light.traffic-lighter__light--yellow.active {
    background-color: yellow;
}
.traffic-lighter__light.traffic-lighter__light--green.active {
    background-color: green;
}

.wrapper {
    display: flex;
}
.my-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
.title {
    font-size: 15px;
}
.title img {
    max-width: 25px;
    margin-right: 15px;
}
.body {
    font-size: 16px;
}
.img__wrapper {
    margin-bottom: 10px;
}
.img__wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 767px) {
}

.slider {
    max-width: 1280px;
    margin: 0 auto;
    /* border: 2px solid blue;  */
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.slider__viewport {
    position: relative;
    border: 2px solid red;
    height: 30vh;
    width: 80vw;
    overflow: hidden;
}
.slider__transform {
    display: flex;
    width: calc(80vw * 2);
    transition: all .3s;
}
.slide {
    height: 30vh;
    width: 80vw;
    background-color: burlywood;
    display: inline-block;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slider__pagers {
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px;
}
.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 134px;
    left: 0;
    transform: translateY(-100%);
}
.btn {
    border: 1px solid blueviolet !important;
}
.pager {
    width: 10px;
    height: 10px;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid blue;
}
.pager.active {
    background-color: crimson;
}
.pager:not(:first-child) {
    margin-left: 5px;
}